// Inline errors smaller.
.region-content div[data-drupal-messages] {
  @include font-size($font-size-sm);
}

// Drupal clobber.
em.placeholder {
  display: initial;
  min-height: unset;
  cursor: unset;
  vertical-align: initial;
  opacity: initial;
  background-color: initial;
  font-style: inherit;
}

// Warning injected by drupal JS.
abbr.warning { text-decoration: none; }

// Messages coming from an admin action and injected dynamically into the interface don't get themed.
.messages {
  $messages: ('status': 'success', 'warning': 'danger');

  @each $key, $state in $messages {
    .messages--#{$key} {
      --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
      --#{$prefix}alert-bg: var(--#{$prefix}#{$state}-bg-subtle);
      --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-border-subtle);
      --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-text-emphasis);
    }
  }
}
