// Inline errors smaller.
.region-content div[data-drupal-messages] {
  @include font-size($font-size-sm);
}

// Drupal clobber.
em.placeholder {
  display: initial;
  min-height: unset;
  cursor: unset;
  vertical-align: initial;
  opacity: initial;
  background-color: initial;
  font-style: inherit;
}

// Warnign injected by drupal JS.
abbr.warning { text-decoration: none; }

// Messages coming from an admin action and injected dynamically into the interface dont get themed.
@mixin message-variant($state, $value) {
  $alert-background: shift-color($value, $alert-bg-scale);
  $alert-border: shift-color($value, $alert-border-scale);
  $alert-color: shift-color($value, $alert-color-scale);

  @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
    $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
  }

  /* stylelint-disable */
  &.messages--#{$state} {
    @include alert-variant($alert-background, $alert-border, $alert-color);
  }
  /* stylelint-enable */
}

.messages {
  @include message-variant('status', $success);
  @include message-variant('warning', $danger);
}
