// Tide up sidebar clipping.
.draggable {
  @include transition(background 0.2s ease-in-out);

  box-sizing: content-box;

  .handle,
  .tabledrag-handle {
    box-sizing: content-box;
  }

  &.drag {
    background: rgba(var(--bs-info-rgb), 0.125);
  }
}

// Multiple table input alert injected by drupal JS.
.tabledrag-changed-warning {
  --bs-text-opacity: 0.75;

  @include font-size($font-size-sm);

  color: rgba(var(--bs-body-color-rgb), 0.75) !important;
}
