.ui-dialog:not(.ui-dialog-off-canvas) {
  @include box-shadow;

  max-width: map-get($container-max-widths, 'xl');
  padding: 0;
  border: 0 none !important;
  border-radius: var(--bs-border-radius);
  background: var(--bs-body-bg);

  // Dialog without title
  .ui-dialog-content:first-of-type {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
  }

  &:focus {
    outline: 2px dotted transparent;
    box-shadow: $input-focus-box-shadow;
  }

  @media (forced-colors: active) {
    border: 1px solid buttonBorder !important;
  }
}

@include media-breakpoint-down(sm) {
  .ui-dialog:not(.ui-dialog-off-canvas) {
    min-width: 92%;
    max-width: 92%;
  }
}

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  font-family: var(--bs-body-font-family);

  .ui-dialog-titlebar {
    position: relative;
    padding: map-get($spacers, 3);
    border: 0 none;
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    background: var(--bs-dark);
    line-height: var(--bs-body-line-height);

    @media (forced-colors: active) {
      border-bottom: var(--bs-border-width) var(--bs-border-style) buttonBorder;
    }
  }

  .ui-dialog-title {
    box-sizing: border-box;
    width: 100%;
    padding-right: map-get($spacers, 5);
    color: var(--bs-light);
    font-weight: normal;
  }

  .ui-dialog-content {
    padding: map-get($spacers, 3);
    color: var(--bs-body-color);
  }

  .ui-widget-content.ui-dialog-buttonpane {
    padding: map-get($spacers, 3);
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    background: var(--bs-tertiary-bg);

    .button {
      margin-top: 0;
      margin-right: map-get($spacers, 3);
      margin-bottom: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .ui-dialog-buttonset {
    margin-top: 0;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    top: 50%;
    right: map-get($spacers, 3);
    left: auto;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0.8;
    border: none !important;
    background: none !important;

    .ui-icon-closethick {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      transform: none;
      background: var(--bs-light) !important;
      mask-image: url(../images/close.svg#close-view);
      mask-size: #{map-get($spacers, 4)} #{map-get($spacers, 4)};
      mask-repeat: no-repeat;
      mask-position: center center;
      @media (forced-colors: active) {
        background: linktext;
      }
    }

    .ui-button-text {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .ui-widget-content.ui-dialog-content {
    padding-right: map-get($spacers, 3);
    padding-left: map-get($spacers, 3);
    background: var(--bs-body-bg);
  }
}

.ui-widget-overlay {
  opacity: $modal-backdrop-opacity !important;
  background: $modal-backdrop-bg !important;
}

.views-ui-dialog {
  .views-offset-bottom {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

    @media (forced-colors: active) {
      border-top: none;
    }
  }
}

.ui-dialog-buttons.lpb-dialog .ui-dialog-content > form > .form-actions {
  display: none !important;
}

// Scroll
.ui-dialog .ui-widget-content.ui-dialog-content {
  overflow: auto;
}

// Token
table.treetable {
  tr.branch {
    background-color: transparent;
  }
}
