/**
 * @file
 * Styles for Drupal's modal windows
 */

.ui-dialog {
  --space-m: #{map-get($spacers, 3)};
  --space-l: #{map-get($spacers, 4)};
  --space-s: #{map-get($spacers, 1)};
  --jui-dialog-close-button-reserved-space: 4rem;
  --jui-dialog-title-color: var(--bs-light);
  --jui-dialog-border-radius: var(--bs-border-radius);
  --jui-dialog-title-bg-color: var(--bs-dark);
  --color-text: var(--bs-body-color);
  --color-white: var(--bs-white);
  --color-focus: var(--bs-primary);
  --color-gray-050: var(--bs-light);
  --jui-dialog-close-button-size: 2rem;
  --jui-dialog-close-button-border-radius: 50%;
  --jui-dialog--focus-outline: none;
}

.ui-widget-content {
  .view-header {
    margin: map-get($spacers, 2) 0 map-get($spacers, 4);
    padding: map-get($spacers, 2);
    border-radius: var(--bs-border-radius);
    background: var(--bs-light);
    a { text-decoration: none; }
    a.is-active {
      color: var(--bs-link-color);
    }
  }
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: var(--bs-border-radius);
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: var(--bs-border-radius);
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: var(--bs-border-radius);
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: var(--bs-border-radius);
}

.ui-dialog {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  padding: $modal-inner-padding;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-dialog:not(.ui-dialog-off-canvas) .views-exposed-form.views-exposed-form {
  border-radius: var(--bs-border-radius);
}

.ui-dialog-titlebar.ui-corner-all {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-dialog > .ui-dialog-buttonpane {
  margin-top: 0;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  @include font-size($font-size-base);

  font-weight: $font-weight-bold;
}

.ui-dialog-titlebar-close {
  top: 50%;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 1rem;
    content: '';
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    background-color: #f0f0f0;
  }
  &:after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
}

.ui-dialog:not(.ui-dialog-off-canvas) {
  max-width: map-get($container-max-widths, 'xxl');
  // Dialog without title
  .ui-dialog-content:first-of-type {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
  }

  &:focus {
    outline: 2px dotted transparent;
    box-shadow: $input-focus-box-shadow;
  }
}

.ui-widget-overlay {
  z-index: 1259;
  opacity: $modal-backdrop-opacity;
  background: $modal-backdrop-bg;
}
