{% extends 'region.html.twig' %}

{%
  set classes = [
    'bg-warning',
  ]
%}

{% do attributes.addClass(classes) %}
{% do attributes.setAttribute('role', 'alert') %}


{% block content %}
  <div class="container py-2">
    <div class="d-flex">
      <div class="me-2"><i class="fas fa-bell" aria-hidden="true"></i></div>
      <div class="flex-grow-1">
        {{ content }}
      </div>
    </div>
  </div>
{% endblock %}
