// Generic HTML elements that could be in WYSIWYG or elsewhere.

// Block quotes in WYSIWYG don't have a class .blockquote
// make a generic blockquote.
blockquote,
.blockquote {
  @include font-size($blockquote-font-size);

  padding-left: var(--bs-gutter-x);
  border-left: 4px solid var(--bs-border-color);
  font-style: italic;

  .field + .field {
    margin-top: map-get($spacers, 2);
  }
}

picture,
.picture {
  display: inline-block;
}

audio,
video {
  width: 100%;
}

.paragraph--type--media {
  @include border-radius();

  padding: map-get($spacers, 3);
  border: var(--bs-border-width) solid var(--bs-border-color);

  &:has(.ratio) {
    max-width: map-get($container-max-widths, 'lg');
    margin: 0 auto;
  }

  img,
  video,
  iframe {
    @include border-radius();
  }
}
