// Basic spacing flow for fields in content.

// Remove if you go manual spacing with d-grid.
:is(
form,
.lpb-formatter,
.field,
.layout,
.paragraph,
.block-layout-builder,
.field__item
) + :is(
form,
.lpb-formatter,
.field,
.layout,
.paragraph,
.block-layout-builder,
.field__item
) {
  margin-top: map-get($spacers, 3);
}

.field + .field--name-field-description {
  margin-top: map-get($spacers, 2);
}

// Match the doc flow.
ul,
ol,
blockquote,
.table-responsive {
  margin-bottom: map-get($spacers, 3);
}

// Squares up some elements in grids.
// Without this, you need to pay close attention to margins.
:is(p,ul,ol,table,blockquote,.table-responsive,img):last-child {
  margin-bottom: 0;
}

// ul ul
.list-group .list-group {
  margin-top: var(--bs-list-group-item-padding-y);
}
