{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}

{% set link_attributes = create_attribute() %}

{% 
  do link_attributes.addClass([
    'nav-link',
    is_active ? 'active',
    link['#url'].getOption('attributes').class ?: [] | join(' '),
  ]) 
%}

{% if is_active %}
  {% do link_attributes.setAttribute('aria-current', 'page') %}
{% endif %}

<li{{ attributes.addClass('nav-item') }}>
  {{ link(link['#title'], link['#url'], link_attributes) }}
</li>
