footer.site-footer {
  // Generic links.
  --bs-link-color-rgb: var(--bs-white-rgb);
  --bs-link-hover-color-rgb: var(--bs-teal-rgb);

  a {
    @include transition;

    text-decoration: none;
  }
}
