// Override builtin layouts.

.layout--twocol {
  display: grid;
  row-gap: map-get($spacers, 3);
  column-gap: map-get($spacers, 4);

  @include media-breakpoint-up(md) {
    grid-template-areas:
      'top top'
      'left right'
      'bottom bottom';
    grid-template-columns: 1fr 1fr;

    .layout__region--top {
      grid-area: top;
    }
    .layout__region--first {
      grid-area: left;
    }
    .layout__region--second {
      grid-area: right;
    }
    .layout__region--bottom {
      grid-area: bottom;
    }
  }
}
