// This will conflict with marketing chat popups.
.back-to-top {
  position: sticky;
  z-index: 20;
  bottom: $spacer * 2;
  transition: opacity 0.2s ease-in-out;

  a {
    position: absolute;
    top: 0;
    right: $spacer;
  }

  .btn {
    // Square up the button.
    --bs-btn-padding-y: var(--bs-btn-padding-x);
    --bs-btn-line-height: 1;

    transform: translateY(-50%);
  }

  &:not(.show) {
    pointer-events: none;
    opacity: 0;
  }
}
